<h1>Enter a phrase!</h1>

<p>Enter a phrase and the vowels will be replaced with dashes</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="results">Your phrase:</label>
    <input id="results" name="results" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
